mixin header
    header.header
        .header-menu
            a.logo(href="/")
                img.logo__image(src='./assets/img/logo.png', alt='logo')
            .header-menu__items
                a.header-menu__item(href='')
                    | Home
                a.header-menu__item(href='')
                    | About Us
                a.header-menu__item(href='')
                    | Members
                a.header-menu__item(href='')
                    | Join
                a.header-menu__item(href='')
                    | Contact
        .banner
            h1.banner__text
                div.banner__sub-text your bikers club
                | The riders
            button.btn
                | Join

