mixin members
    section.members
        .members__content
            .slide
                .slider-for
                    .item
                        h3.description__title
                            | Victor Voytko
                        .description__text
                            | One of the leaders of the club. Born in 1978 in the family of
                            | Gemma and John Teller, he lived in Charming and was actually
                            | raised at the club, as a result, this is the only life he knows.
                    .item
                        h3.description__title
                            | Alex Romaniuk
                        .description__text
                            | One of the founders of the club THE RIDERS, included in the top three.
                    .item
                        h3.description__title
                            | Grabko Rektorenko
                        .description__text
                            | Club secretary and treasurer, which means that he is in charge of all
                            | financial matters. One of the oldest members of THE RIDERS
                .slider-nav
                    .item
                        img.members__image(src="./assets/img/member-one.png" alt="member")
                    .item
                        img.members__image(src="./assets/img/member-two.png" alt="member")
                    .item
                        img.members__image(src="./assets/img/member-three.png" alt="member")
