mixin footer
    footer.footer#contact
        .footer__content
            .map-wrapper
                .map
            .contact__info
                p.contact__title
                    | The Riders
                p.contact__item
                    | +435345435
                p.contact__item
                    | asdsd@sadasd.asd
                p.footer__slogan
                    | And remember: we all are bikers in heart
                p.year
                    | 2019

