include ./components/header/header
include ./components/footer/footer

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title workshop
    body
        +header

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eligendi nam nulla perspiciatis, quaerat reiciendis similique! Cupiditate, dicta dolores eius error illum, laborum molestiae nobis nostrum quae sapiente, tempora veritatis.
        block content

        +footer

